body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eceff1;
  /* TODO use local styles/theming */
  margin: calc((6.759vh / 2) + 3vw) 0 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* TODO use local styles/theming */
.MuiListItemSecondaryAction-root a.MuiIconButton-colorPrimary {
  transition: all 0.2s ease-in-out;
}
.MuiListItemSecondaryAction-root a.MuiIconButton-colorPrimary:hover{
  color: #eceff1;
  background: #272c34;
}
